.amenity > * {
  display: inline;
}

.amenity > svg {
  margin-right: 10px;
  height: 100%;
  width: auto;
  vertical-align: middle;
}

.amenities {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.amenityHeader {
  margin-top: 60px;
}
