.gallery {
  max-width: 50%;
  margin: 30px auto;
}

@media screen and (max-width: 500px) {
  .gallery {
    max-width: 100%;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (orientation: landscape) {
  .gallery {
    max-width: 100%;
  }
}
