.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 1em 1em 0;
}

.nav > a {
  padding: 1.5em 2em;
  margin-bottom: 5px;
  border-radius: 5px;
}

.nav > a:hover {
  color: #6a6a6a;
}

.active_nav {
  position: relative;
}

.active_nav::after {
  content: " ";
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 3px;
  background-color: black;
}
